{% extends 'base.html' %}

{% block title %}Приветствие{% endblock %}
    {% block content %}
        <table class="table">
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.group }}</td>
                    <td>{{ student.email }}</td>
                    {% for mark in student.marks %}
                        <td>{{ mark.subject }}</td>
                        <td>{{ mark.mark }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
